.block-blog-post-wrapper {
    width: 100%;
    display: "inline-block";
}

.block-blog-posts-container {
    margin-top: 50px;
    .thumbnail {
        float: left;
        width: 20%;
    }
    .content {
        float: right;
        padding-left: 0px;
        width: 75%;
    }
    h3 {
        margin-top: 0px;
        color: $comboBlue;
        margin-bottom: 0px;
    }
    small {
        margin: auto 0px;
        font-size: 0.8rem;
        color: $comboDarkGrey;
    }
    p {
        font-size: 0.9rem;
        margin-bottom: 0px;
        color: $black;
    }
    .more {
        text-decoration: underline;
        color: $comboPurpleLight;
        font-size: 0.9rem;
    }
}
