.blog-post-entries {
    margin-top: 50px;
    padding: 100px 0;
    .blog-post {
        .blog-post-header {
            h1 {
                color: $black;
            }
            .tags {
                .date-time {
                    font-size: 0.8rem;
                }
                .tag-list {
                    ul,
                    li {
                        list-style: none;
                        list-style-type: none;
                        a {
                            color: $comboPurple;
                            text-decoration: none;
                        }
                        a:hover {
                            color: $comboPurple;
                        }
                    }
                    ul li a:hover,
                    ul li a:focus {
                        color: $white;
                        border: "1px";
                        border-color: black;
                    }
                }
            }
        }
        .blog-post-content {
            color: $black;
            h3 {
                color: $black;
                a:link {
                    color: $comboBlue;
                }
                a:visited {
                    color: $comboBlue;
                }
            }
            a:hover {
                background-color: $off-white;
            }
            a:visited {
                color: $black;
            }
            .colored-text_1 {
                color: $comboBlue;
                font-weight: bold;
            }
            .colored-text_2 {
                color: $comboDarkGrey;
            }
            .colored-text_3 {
                color: $comboDarkGrey;
                font-weight: bold;
            }
        }
    }
}
