.blog-post-container {
    padding-top: 150px;
    padding-bottom: 20px;
    .blog-post {
        .blog-post-content {
            color: $black;
            h3 {
                color: $comboDarkGrey;
                a:link {
                    color: $comboDarkGrey;
                    text-decoration: none;
                }
                a:hover {
                    color: $black;
                }
            }
            a:link {
                color: $comboDarkGrey;
                text-decoration: none;
            }
            a:link:hover {
                color: $black;
            }
            a:visited {
                color: $comboDarkGrey;
            }
            .colored-text_1 {
                color: $comboBlue;
                font-weight: bold;
                a:link:hover {
                    color: $black;
                }
            }
            .colored-text_2 {
                color: $comboDarkGrey;
            }
            .colored-text_3 {
                color: $comboDarkGrey;
                font-weight: bold;
            }
        }
    }
}
