.footer {
  width: 100%;
  height: auto;
  bottom: 0;
  padding-top: 50px;
  margin-top: 35px;
  flex-shrink: 0;

  .site-footer {
    background: #090a0b;
    padding: 0rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    bottom: 10;
    left: 0;
    width: 100%;
    font-size: 12px;

    .footer-content {
      display: flex;
      margin: 10 10 10 10;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: left;
      a {
        text-decoration: none;
      }
      a:hover {
        color: $comboDarkGrey;
      }
    }
  }
}
