.footer {
  width: 100%;
  height: auto;
  bottom: 0;
  padding-bottom: 2vh;
  margin-top: 0vh;
  padding-top: 2vh;
  flex-shrink: 0;
  background-color: $darkBackground;

  .site-footer {
    background: $darkBackground;
    padding-top: 0vh;
    padding-bottom: 1vh;
    color: #fff;
    bottom: 10;
    left: 0;
    width: 100%;

    .footer-content {
      display: flex;
      margin: 10 10 10 10;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: right;
      font-size: small;
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: $comboDarkGrey;
      }
      .imprint {
        color: black;
      }
    }
  }
}
