
.index-block {
    padding: 100px 0;
    display: flex;
    h1 {
        color: $comboPurple;
    }
    .highlight {
        color: $comboBlue;
        font-weight: bold;
    }
    p {
        text-align: left;
    }
}
