:root {
  --color-primary: #663366;
  --color-secondary: #754775;
  --color-tertiary: #845b84;
  --color-quaternary: #de7e96;
  --color-quinary: #f78da7;
}

@keyframes shadows {
  0% {
    text-shadow: 0 0 0 var(--color-secondary);
  }
  25% {
    text-shadow: 2px 2px 4px var(--color-secondary),
      4px 4px 8px var(--color-tertiary);
  }
  50% {
    text-shadow: 4px 4px 8px var(--color-tertiary),
      6px 6px 12px var(--color-quaternary),
      8px 8px 16px var(--color-quinary);
  }
  75% {
    text-shadow: 6px 6px 12px var(--color-quaternary),
      8px 8px 16px var(--color-quinary),
      10px 10px 20px var(--color-primary);
  }
  100% {
    text-shadow: 0 0 0 var(--color-secondary);
  }
}

@keyframes move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
}

.text-shadows {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: var(--color-primary);
  animation: shadows 5s ease-in-out infinite, move 2.5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
