.table {
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
}
th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    background-color: $comboBlue !important;
    color: #ffffff;
}
