// Variables
$font-heading: "Poppins", sans-serif;
$font-body: "Source Sans Pro", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f2f4f5;
$light-grey: #dcdcdc;

$comboPurple: #663366;
$pink: #f78da7;
$comboBlue: #002147;
$comboDarkGrey: #5b7290;
$darkBackground: #001220;

// Global Styles
html {
  font-family: $font-body;
  color: $off-white;
  background-color: $darkBackground;
}

body {
  position: relative;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $darkBackground;
  color: $off-white; // Changed to off-white for better contrast
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: $white;
}

// Section Styles
section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3vh 1vw;
  min-height: 10vh;
  background-color: $darkBackground;
  color: $off-white;

  h1 {
    color: $white;
    transition: color 0.3s ease-in-out;
  }

  .text-shadows {
    text-shadow: 3px 3px 0 $comboPurple, 6px 6px 0 $pink, 9px 9px 0 $comboDarkGrey;
    font-family: $font-heading;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(0.2em + 1vw);
    text-align: left;
    margin: 0;
    letter-spacing: 0.4rem;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  }
}

// Mark Styles for Emphasis
mark.purple {
  color: $comboPurple;
  background: $off-white;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: $pink;
    color: $black;
  }
}

// Keyframe animations for subtle effects
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Slightly larger */
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #f78da7;
  }
  50% {
    text-shadow: 0 0 15px #f78da7, 0 0 20px #f78da7;
  }
  100% {
    text-shadow: 0 0 5px #f78da7;
  }
}

.profile-pic-container {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 250px; // Adjust size as needed
  height: 250px; // Adjust size as needed
  border-radius: 50%;
  border: 4px solid #f78da7; // Accent color for border
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: pulse 6s ease-in-out infinite; // Apply pulse animation
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.1) contrast(1.2);
}

// Custom Chip styling with animation
.chip {
  background-color: #f78da7;
  color: black;
  font-size: medium;
  border-radius: 16px; // Slightly rounded corners
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

// Utility Classes
.dark {
  background: $darkBackground;
}

.comboPurple {
  background: $comboPurple;
}

.white {
  background: $off-white;
  color: $black;
}

.pink {
  background: $pink;
  color: $black;
}

.wrapper {
  flex-grow: 1;
  height: auto;
}

// Importing Other SCSS Files
@import "profile-pic";
@import "spacer-div";
@import "container";
@import "header";
@import "header-light";
@import "footer";
@import "contact-block";
@import "social-links";
@import "posts";
@import "blog-post-container";
@import "blog-post-entries";
@import "404";
@import "index-block";
@import "block-blog-posts";
@import "tables";
