// Variables
$font-heading: "Poppins", sans-serif;
$font-body: "Source Sans Pro", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f2f4f5;

$comboPurple: #663366;
$pink: #f78da7;
$comboBlue: #002147;
$comboDarkGrey: #5b7290;
$darkBackground: #001220;

// Global Styles
html {
  font-family: $font-body;
  color: $off-white;
  background-color: $darkBackground;
}

body {
  position: relative;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $darkBackground;
  color: $white;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: $white;
}

// Section Styles
section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3vh 1vw;
  min-height: 10vh;
  background-color: $darkBackground;
  color: $white;

  h1 {
    color: $white;
    transition: color 0.3s ease-in-out;
  }

  .text-shadows {
    text-shadow: 3px 3px 0 $comboPurple, 6px 6px 0 $pink, 9px 9px 0 $comboDarkGrey;
    font-family: $font-heading;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(0.2em + 1vw);
    text-align: left;
    margin: 0;
    letter-spacing: 0.4rem;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  }
}

// Mark Styles for Emphasis
mark.purple {
  color: $comboPurple;
  background: $white;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: $pink;
    color: $black;
  }
}

// Utility Classes
.dark {
  background: $darkBackground;
}

.comboPurple {
  background: $comboPurple;
}

.white {
  background: $white;
  color: $black;
}

.pink {
  background: $pink;
  color: $black;
}

.wrapper {
  flex-grow: 1;
  height: auto;
}

// Importing Other SCSS Files
@import "profile-pic";
@import "spacer-div.scss";
@import "container";
@import "header";
@import "header-light";
@import "footer";
@import "contact-block";
@import "social-links";
@import "posts";
@import "blog-post-container";
@import "blog-post-entries";
@import "404";
@import "index-block";
@import "block-blog-posts";
@import "tables";
